<% include header %>
<% include navbar_user %>
<nav id="navMenu_User"></nav>
<div>
    <h1 id="header"> Bestfood restaurant</h1>
</div>
<div id="aboutus" class="container">
    It’s always been as much about the people as the food.
    From the moment we welcomed our first customer to our original shop on historic Charles Street in Monor’s Beacon
    Hill neighborhood back in 2001,
    all of us at Bestfood have lived to see the look.
    You know, that look where one bite makes you realize you’ve just discovered something amazing. Maybe even life
    changing.
    If you think that’s a little much, consider this: to us, food is life. And some days, we know it is to you, too.
    <br><br>
    So we take our food seriously. Like, from scratch seriously. We believe the only way to achieve amazing is with
    fresh.
    <br>
    <br>
    Whether you join us for a special night out, unmistakably “Bestfoodie” drinks in the bar,
    or choose to stay at home and enjoy our food there when you order
    from
    Bestfood,
    you will feel right at heaven.
</div>
<% include footer %>