<% include header %>
<% include navbar_user %>
    <nav id="navMenu_User"></nav>
    <div>
        <h1 id="header"> Checkout</h1>
        <div class="container">
            <div id="forms"><input type="email" class="form-control" id="username" placeholder="Enter email">
                <input type="address" class="form-control" id="username" placeholder="Enter address"></div>


            <table id="checkouttable" class=" table table-responsive-md table-striped text-center ">
                <tr>
                    <th class="text-center">Your order: </th>
                    <th class="text-center">Food</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Bacon Burger</td>
                    <td>1</td>
                    <td>1080</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Húsimádó pita</td>
                    <td>1</td>
                    <td>990</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Full price:</td>
                    <td>2070</td>
                </tr>
            </table>


        </div>

        <div><a href="/thankyou">
                <button id="checkoutbutton" class="btn btn-primary">Send order!
                </button></a></div>
    </div>
    <% include footer %>