<nav class="navbar navbar" style="background-color: firebrick;">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="pictures/logo.png" width="30" height="30" alt="">  
            </a>     
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cart"><img src="pictures/shopping_cart.png" width="30" height="22" alt=""></a></li>          </ul>
      </div>
      </nav>;