<% include header %>
<% include navbar_user %>
<nav id="navMenu_User"></nav>

<div>
    <h1 id="header"> Thank you for you order!</h1>
    <h2 id="header">We are already working on your delicious food!</h2>
</div>
<% include footer %>